.section_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}

.section_container .text{
    width: 60%;
    height: auto;
    padding: 2em;
    color: #ffffffe9;
}


.section_container .text h1{
    font-size: 10em;
    color: #fff;
    text-align: center;
}
.section_container .text h2{
    color: #cdcd;
    font-size: 3em;
    text-align: center;
}
.section_container .text p{
    color: #cdcdcd;
    margin-top: 5px;
    text-align: justify;
    padding-inline: .8em;
}



.section_container .img_container{
    margin-right: 80px;
    text-align: end;
    background-color: #BDE038;
    clip-path: polygon(74% 0, 99% 0%, 100% 100%, 41% 100%);
    width: 50%;
    margin-top: 20px;
  
}

.section_container .img_container img{
    
}