
.btn_inscrever{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin-top: 20px;

    background-color: #BDE038;
  

    text-decoration: none;
    cursor: pointer;
    opacity: .8;
    transition: .5s;
}

.btn_inscrever:hover{
    opacity: 1;
}
.btn_inscrever a{
    text-decoration: none;
    color: #000;
    font-weight: 500;

}


.btn_inscrever svg{
    font-size: 1.2em;
    color: #000;
}